<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43695988-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43695988-2');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Georges Biaux">
  {% if page.header-img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="Site personnel de Georges Biaux">
    <meta property="og:description" content="Site personnel de Georges Biaux" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  <link rel="author" href="humans.txt" />

  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/hamvocke.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab:700|Open+Sans:300,400,700" type="text/css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon.png">
  <meta name="theme-color" content="#018d67">
</head>
<body>
  <div id="logo">
    <a href="/" title="home">
      <img src="/assets/img/logo128.png">
      <h1>{{ site.title }}</h1>
      <p class="subtitle">Auteur de Fantasy et amateur d'îles flottantes</p>
    </a>
  </div>
  <nav role="navigation">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">À Propos</a></li>
      <li><a href="https://twitter.com/georgesbiaux" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/magiedesangetdame" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://fr.linkedin.com/in/georges-biaux-892a6ba5/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </nav>

    <section id="text">
      {{ content }}
    </section>

  <footer>
    <div class="contact">
      © 2018 Georges Biaux
      <div class="icons">
        <a href="mailto:georges.biaux@gadz.org" target="_blank"> <i class="fa fa-envelope-o"></i> </a> &nbsp;
        <a href="https://twitter.com/georgesbiaux" target="_blank"> <i class="fa fa-twitter"></i> </a> &nbsp;
        <a href="https://www.facebook.com/magiedesangetdame" target="_blank"> <i class="fa fa-facebook"></i> </a> &nbsp;
        <a href="https://fr.linkedin.com/in/georges-biaux-892a6ba5/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
